<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tran Viet Hung | hungnhot | Website Developer</title>
    <meta name="description" content="Tran Viet Hung's Personal/Portfolio Page, hungnhot's page, hungnhot, tran viet hung">
    <meta name="keywords" content="hungnhot, Tran Viet Hung's Personal/Portfolio Page, hungnhot's page, hungnhot, tran viet hung, Tran Viet Hung | hungnhot | RoR Developer">
    <meta name="author" content="hungnhot">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons
    ================================================== -->
    <link rel="icon" type="image/x-icon" href="<%= asset_path( "favicon.ico" ) %>" />

    <!-- Google-Fonts
    ================================================== -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-offset="120">
    <%= yield %>

    <!-- Scroll top -->
    <a href="#" class="back-to-top"> <i class="pe-7s-angle-up"></i></a>
  </body>
</html>
